{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Principal{% endblock %}
{% block content %}
{{ form.errors }}
<form action="{{ action }}" id='myform' method="post">{% csrf_token %}
  <input type="submit" value="Guardar" id='savebtn'/>
  <br>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#vista" class='vista_btn' data-toggle="tab">Vista</a></li>
    <li role="presentation"><a href="#edicion" data-toggle="tab">Edición</a></li>
  </ul>
  <div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="vista">
        <h2 class="text-center">{{ object.name }}</h2>
  			<p class='lyrics_formated text-center'>
        {{ form.lyrics_formated.value|safe }}
        </p>
        {{ form.lyrics_formated }}
        {{ form.lyrics }}
    </div>
    <div class="tab-pane" id="edicion">
      {{ form.name.label }} <br>
      {{ form.name }} <br>
      Contenido
      <br>
      {{ form.lyrics_edit_view }}
    </div>
  </div>
</form>
{% endblock %}

{% block css %}
	<link rel='stylesheet' href='{% static "main.css" %}'/>
{% endblock %}
{% block js %}
	<script src="{% static 'main.js' %}?v=1"></script>
{% endblock %}