<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Song</title>
	
</head>
<body>
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="#vista" data-toggle="tab">Vista</a></li>
	  <li role="presentation"><a href="#edicion" data-toggle="tab">Edición</a></li>
	</ul>
	 <div id="my-tab-content" class="tab-content">
	    <div class="tab-pane active" id="vista">
	        <h2>{{ object.name }}</h2>
			<p>{{ formated_song|safe }}</p>
	    </div>
	    <div class="tab-pane active" id="edicion">
	        <h2>{{ object.name }}</h2>
			<p>{{ object.lyrics }}</p>
	    </div>

	</div>
	
	<link rel='stylesheet' href='{% static "normalize.css" %}'/>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="{% static "main.js" %}"></script>
	<link rel='stylesheet' href='{% static "main.css" %}'/>
</body>
</html>