{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Principal{% endblock %}
{% block content %}
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#vista" data-toggle="tab">Vista</a></li>
  <li role="presentation"><a href="#edicion" data-toggle="tab">Edición</a></li>
</ul>
<div id="my-tab-content" class="tab-content">
  <div class="tab-pane active" id="vista">
      <h2>{{ object.name }}</h2>
			<p>{{ formated_song|safe }}</p>
  </div>
  <div class="tab-pane" id="edicion">
  	{{ form.errors }}
     <form action="{{ action }}" method="post">
         {% csrf_token %}
         {{ form.name.label }} <br>
         {{ form.name }} <br>
         {{ form.lyrics.label }} <br>
         {{ form.lyrics }} <br>
         <input type="submit" value="Submit" />
     </form>
	</div>
</div>
{% endblock %}

{% block css %}
	<link rel='stylesheet' href='{% static "main.css" %}'/>
{% endblock %}
{% block js %}
	<script src="{% static "main.js" %}"></script>
{% endblock %}